::-moz-selection {
    background: #0071e3 !important;
}
::selection {
    background: #0071e3 !important;
}
html body #login {
    background-color: #010101;
    background-image: none;
}
html body #content header {
    background-color: #010101;
    background-image: none;
}
html body nav.main ul li:before {
    background: #010101;
}
.breadcrumbs {
    color: #fff;
}
html body .user-info span {
    color: #fff;
}
html body #login .card img {
    max-width: 100%;
}
html body #loader img {
    animation: none;
}
footer {
    color: #fff;
}
.btn.btn-primary {
    background-color: #0071e3;
    color: #fff !important;
    border-color: #0071e3;
}
html body .checkbox-wrapper div {
    border-color: #ff3c3c;
}
html body #content .datatable-wrapper .dataTables_filter .paginate_button.current,
html body #content .datatable-wrapper .dataTables_paginate .paginate_button.current {
    background: #ff3c3c;
    border-color: #ff3c3c;
    color: #fff !important;
}
html body #content .datatable-wrapper .dataTables_filter .paginate_button.previous:before,
html body #content .datatable-wrapper .dataTables_paginate .paginate_button.previous:before {
    border-right-color: #ff3c3c;
}
html body #content .datatable-wrapper .dataTables_filter .paginate_button.next:before,
html body #content .datatable-wrapper .dataTables_paginate .paginate_button.next:before {
    border-left-color: #ff3c3c;
}
.form-control:focus {
    border-color: #0071e3;
    box-shadow: 0 0 0 0.2rem #0071e340;
}
html body .checkbox-wrapper input:checked + div {
    border-color: #a7206b;
    background-color: #0071e3;
}
