html{
    direction: rtl;
}
body{
    text-align: right;
}

.text-right{
    text-align: left !important;
}

@media (min-width: 768px) {
    .text-md-left {
        text-align: right!important;
    }
}

.slider-nav .slick-prev{
    left: calc(100% - 50px);
}
.slider-nav .slick-next{
    left: calc(100% - 15px);
    }

    .lang {
        right: auto !important;
        left: calc(15px + .5rem);
    }

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/

.ml-auto{
    margin-left: 0 !important;
    margin-right: auto !important;
}

.mr-5 {
    margin-left: 3rem !important;
    margin-right: 0rem !important;
}

/*
|--------------------------------------------------------------------------
| End Navigation
|--------------------------------------------------------------------------
*/

.contact-card ul li img{
    margin-right: 0;
    margin-left: 20px;
}
.contact-card .picture-wrapper svg{
    right: 0;
}
.contact-card .directions{
    right: auto;
    left: 15px;
}
.pl-md-5, .px-md-5 {
    padding-left: 0 !important;
    padding-right: 3rem!important;
}
.pr-md-5, .px-md-5{
    padding-right: 0 !important;
    padding-left: 3rem !important
}

/*
|--------------------------------------------------------------------------
| Inputs & Buttons Styling
|--------------------------------------------------------------------------
*/

.share-wrapper.corner{
    right: auto;
    left: 25px;
}
.share-wrapper.wrapper-small{
    margin-left: 0;
    margin-right: auto;
}

.btn-custom img{
    margin-right: 0;
    margin-left: 15px;
}

.btn-readmore{
    padding-left: 0;
    padding-right: 40px;
}
.btn-readmore svg{
    left: auto;
    right: 0;
    transform: translateY(-50%) rotate(180deg);
}
.btn-readmore:hover svg{
    transform: translateY(-50%) rotate(180deg) translateX(5px);
}

.message-alert em {
    margin-right: 0;
    margin-left: 50px;
}

/*
|--------------------------------------------------------------------------
| End Inputs & Buttons Styling
|--------------------------------------------------------------------------
*/

@media (max-width: 991px) {

    .lang{
        left: 0;
    }

}